force-app/main/default/flows/Create_Rental_Application.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Occupants_to_Collection</name>
        <label>Add Occupants to Collection</label>
        <locationX>176</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>OccupantsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Occupant1Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OccupantsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Occupant2Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OccupantsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Occupant3Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OccupantsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Occupant4Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Occupants_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Valid_Occupants_to_New_Collection</name>
        <label>Add Valid Occupants to New Collection</label>
        <locationX>440</locationX>
        <locationY>1718</locationY>
        <assignmentItems>
            <assignToReference>OccupantsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Occupants_Collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Occupants_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Occupant_Information</name>
        <label>Assign Occupant Information</label>
        <locationX>176</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>Occupant1Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Occupant1_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Occupant1Record.Relationship_to_Tenant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Occupant1_Relationship</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Occupant1Record.Age__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Occupant1_Age</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Occupant2Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Occupant2_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Occupant2Record.Relationship_to_Tenant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Occupant2_Relationship</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Occupant2Record.Age__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Occupant2_Age</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Occupant3Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Occupant3_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Occupant3Record.Relationship_to_Tenant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Occupant3_Relationship</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Occupant3Record.Age__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Occupant3_Age</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Occupant4Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Occupant4_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Occupant4Record.Relationship_to_Tenant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Occupant4_Relationship</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Occupant4Record.Age__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Occupant4_Age</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Occupant1Record.Related_Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Rental_Application</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Occupant2Record.Related_Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Rental_Application</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Occupant3Record.Related_Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Rental_Application</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Occupant4Record.Related_Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Rental_Application</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Occupants_to_Collection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>BiWeeklyChoice</name>
        <choiceText>Bi-Weekly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bi-Weekly</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChildChoice</name>
        <choiceText>Child</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Child</stringValue>
        </value>
    </choices>
    <choices>
        <name>DivorcedStatus</name>
        <choiceText>Divorced</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Divorced</stringValue>
        </value>
    </choices>
    <choices>
        <name>FriendChoice</name>
        <choiceText>Friend</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Friend</stringValue>
        </value>
    </choices>
    <choices>
        <name>MarriedStatus</name>
        <choiceText>Married</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Married</stringValue>
        </value>
    </choices>
    <choices>
        <name>MonthlyChoice</name>
        <choiceText>Monthly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Monthly</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoChoice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>OneOccupantChoice</name>
        <choiceText>1 Occupant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1 Occupant</stringValue>
        </value>
    </choices>
    <choices>
        <name>ParentChoice</name>
        <choiceText>Parent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Parent</stringValue>
        </value>
    </choices>
    <choices>
        <name>SignificantOtherChoice</name>
        <choiceText>Significant Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Significant Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>SingleStatus</name>
        <choiceText>Single</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Single</stringValue>
        </value>
    </choices>
    <choices>
        <name>SpouseChoice</name>
        <choiceText>Spouse</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Spouse</stringValue>
        </value>
    </choices>
    <choices>
        <name>WeeklyChoice</name>
        <choiceText>Weekly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Weekly</stringValue>
        </value>
    </choices>
    <choices>
        <name>WidowedStatus</name>
        <choiceText>Widowed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Widowed</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesChoice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_Occupant_Name_Blank</name>
        <label>Is Occupant Name Blank?</label>
        <locationX>352</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Add_Valid_Occupants_to_New_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Occupants_Collection.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Occupants_Collection.Name</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Occupants_Collection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Create Rental Application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Rental Application</label>
    <loops>
        <name>Occupants_Collection</name>
        <label>Occupants Collection</label>
        <locationX>176</locationX>
        <locationY>1478</locationY>
        <collectionReference>OccupantsCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Occupant_Name_Blank</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Occupants</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Occupants</name>
        <label>Create Occupants</label>
        <locationX>176</locationX>
        <locationY>2030</locationY>
        <inputReference>OccupantsToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Rental_Application</name>
        <label>Create Rental Application</label>
        <locationX>176</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Assign_Occupant_Information</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_of_Birth__c</field>
            <value>
                <elementReference>Date_of_Birth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Middle_Name__c</field>
            <value>
                <elementReference>Middle_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_of_Interest__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Rental_Application__c</object>
    </recordCreates>
    <screens>
        <name>Applicant_Information</name>
        <label>Applicant Information</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Occupant_Information</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Middle_Name</name>
            <dataType>String</dataType>
            <fieldText>Middle Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PhoneNumberComponent</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>PhoneNumber</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>EmailComponent</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Email</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Date_of_Birth</name>
            <dataType>Date</dataType>
            <fieldText>Date of Birth</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MarriageStatusComponent</name>
            <choiceReferences>SingleStatus</choiceReferences>
            <choiceReferences>MarriedStatus</choiceReferences>
            <choiceReferences>DivorcedStatus</choiceReferences>
            <choiceReferences>WidowedStatus</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Marriage Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Current_Address</name>
            <dataType>String</dataType>
            <fieldText>Current Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Criminal_History</name>
        <label>Criminal History</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Eviction_History</targetReference>
        </connector>
        <fields>
            <name>Have_you_ever_been_convicted_of_a_crime</name>
            <choiceReferences>YesChoice</choiceReferences>
            <choiceReferences>NoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have you ever been convicted of a crime?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Criminal_History_Description</name>
            <fieldText>If yes, please explain below:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Employment_Information</name>
        <label>Employment Information</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Income_Information</targetReference>
        </connector>
        <fields>
            <name>Are_you_currently_employed</name>
            <choiceReferences>YesChoice</choiceReferences>
            <choiceReferences>NoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you currently employed?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Place_of_Employment</name>
            <dataType>String</dataType>
            <fieldText>Place of Employment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Job_Title</name>
            <dataType>String</dataType>
            <fieldText>Job Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>EmployerPhoneNumberComponent</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Employer Phone Number</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>EmployerPhoneNumber</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Supervisor_Name</name>
            <dataType>String</dataType>
            <fieldText>Supervisor Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Eviction_History</name>
        <label>Eviction History</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Rental_Application</targetReference>
        </connector>
        <fields>
            <name>Have_you_ever_been_evicted</name>
            <choiceReferences>YesChoice</choiceReferences>
            <choiceReferences>NoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have you ever been evicted?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Eviction_History_Description</name>
            <fieldText>If yes, please explain below:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Income_Information</name>
        <label>Income Information</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Criminal_History</targetReference>
        </connector>
        <fields>
            <name>Payment_Schedule</name>
            <choiceReferences>WeeklyChoice</choiceReferences>
            <choiceReferences>BiWeeklyChoice</choiceReferences>
            <choiceReferences>MonthlyChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Payment Schedule</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Monthly_Income</name>
            <dataType>Currency</dataType>
            <fieldText>Monthly Income</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Occupant_Information</name>
        <label>Occupant Information</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Occupant_Information_2</targetReference>
        </connector>
        <fields>
            <name>Are_additional_occupants_required</name>
            <choiceReferences>YesChoice</choiceReferences>
            <choiceReferences>NoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are additional occupants required?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Number_of_Occupants</name>
            <dataType>Number</dataType>
            <fieldText>If yes, how many occupants?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;Sorry, you can not have more than 4 occupants at this time.&lt;/b&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Number_of_Occupants} &lt; 5</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Occupant_Information_2</name>
        <label>Occupant Information 2</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Pet_Information</targetReference>
        </connector>
        <fields>
            <name>Occupant1</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;u&gt;Occupant 1 Information&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Number_of_Occupants</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Occupant1_Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Number_of_Occupants</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Occupant1_Relationship</name>
            <choiceReferences>ChildChoice</choiceReferences>
            <choiceReferences>FriendChoice</choiceReferences>
            <choiceReferences>ParentChoice</choiceReferences>
            <choiceReferences>SpouseChoice</choiceReferences>
            <choiceReferences>SignificantOtherChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Relationship</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Number_of_Occupants</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Occupant1_Age</name>
            <dataType>Number</dataType>
            <fieldText>Age</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Number_of_Occupants</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Occupant2</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;u&gt;Occupant 2 Information&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Number_of_Occupants</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>2.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Occupant2_Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Number_of_Occupants</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>2.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Occupant2_Relationship</name>
            <choiceReferences>ChildChoice</choiceReferences>
            <choiceReferences>FriendChoice</choiceReferences>
            <choiceReferences>ParentChoice</choiceReferences>
            <choiceReferences>SpouseChoice</choiceReferences>
            <choiceReferences>SignificantOtherChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Relationship</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Number_of_Occupants</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>2.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Occupant2_Age</name>
            <dataType>Number</dataType>
            <fieldText>Age</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Number_of_Occupants</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>2.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Occupant3</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;u&gt;Occupant 3 Information&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Number_of_Occupants</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>3.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Occupant3_Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Number_of_Occupants</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>3.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Occupant3_Relationship</name>
            <choiceReferences>ChildChoice</choiceReferences>
            <choiceReferences>FriendChoice</choiceReferences>
            <choiceReferences>ParentChoice</choiceReferences>
            <choiceReferences>SpouseChoice</choiceReferences>
            <choiceReferences>SignificantOtherChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Relationship</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Number_of_Occupants</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>3.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Occupant3_Age</name>
            <dataType>Number</dataType>
            <fieldText>Age</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Number_of_Occupants</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>3.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Occupant4</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;u&gt;Occupant 4 Information&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Number_of_Occupants</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>4.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Occupant4_Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Number_of_Occupants</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>4.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Occupant4_Relationship</name>
            <choiceReferences>ChildChoice</choiceReferences>
            <choiceReferences>FriendChoice</choiceReferences>
            <choiceReferences>ParentChoice</choiceReferences>
            <choiceReferences>SpouseChoice</choiceReferences>
            <choiceReferences>SignificantOtherChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Relationship</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Number_of_Occupants</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>4.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Occupant4_Age</name>
            <dataType>Number</dataType>
            <fieldText>Age</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Number_of_Occupants</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>4.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pet_Information</name>
        <label>Pet Information</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Employment_Information</targetReference>
        </connector>
        <fields>
            <name>Do_you_have_any_pets</name>
            <choiceReferences>YesChoice</choiceReferences>
            <choiceReferences>NoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you have any pets?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Pet_Description</name>
            <fieldText>If yes, please describe below:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Applicant_Information</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmployerPhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Occupant1Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Occupant__c</objectType>
    </variables>
    <variables>
        <name>Occupant2Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Occupant__c</objectType>
    </variables>
    <variables>
        <name>Occupant3Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Occupant__c</objectType>
    </variables>
    <variables>
        <name>Occupant4Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Occupant__c</objectType>
    </variables>
    <variables>
        <name>OccupantsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Occupant__c</objectType>
    </variables>
    <variables>
        <name>OccupantsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Occupant__c</objectType>
    </variables>
    <variables>
        <name>PhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
