force-app/main/default/flows/Create_Tenant.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Invoice_to_Collection</name>
        <label>Add Invoice to Collection</label>
        <locationX>258</locationX>
        <locationY>1787</locationY>
        <assignmentItems>
            <assignToReference>InvoiceCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InvoiceRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increase_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_New_Invoice</name>
        <label>Assign Values to New Invoice</label>
        <locationX>258</locationX>
        <locationY>1578</locationY>
        <assignmentItems>
            <assignToReference>InvoiceRecord.Invoice_Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvoiceLabel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceRecord.Rent_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Property_of_Interest__r.Rent_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceRecord.Tenant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Tenant</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceRecord.Payment_Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvoiceDueDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Invoice_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Count</name>
        <label>Increase Count</label>
        <locationX>572</locationX>
        <locationY>1787</locationY>
        <assignmentItems>
            <assignToReference>LoopCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IncreaseCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Invoices_Created</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>All_Invoices_Created</name>
        <label>All Invoices Created?</label>
        <locationX>536</locationX>
        <locationY>1477</locationY>
        <defaultConnector>
            <targetReference>Create_Invoices</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Created</defaultConnectorLabel>
        <rules>
            <name>Not_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>LeaseLengthInMonths</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_to_New_Invoice</targetReference>
            </connector>
            <label>Not Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Tenant_Portal_User_Decision</name>
        <label>Create Tenant Portal User?</label>
        <locationX>536</locationX>
        <locationY>1021</locationY>
        <defaultConnector>
            <targetReference>All_Invoices_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Create_Tenant_Portal_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Tenant_Portal_Profile</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>Alias</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.First_Name__c},1) + LEFT({!$Record.Last_Name__c},4)</expression>
    </formulas>
    <formulas>
        <name>IncreaseCount</name>
        <dataType>Number</dataType>
        <expression>{!LoopCount} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>InvoiceDueDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.Estimated_Move_In_Date__c}, {!LoopCount})</expression>
    </formulas>
    <formulas>
        <name>InvoiceLabel</name>
        <dataType>String</dataType>
        <expression>&quot;Monthly Invoice - &quot; + {!$Record.First_Name__c} + &quot; &quot; + {!$Record.Last_Name__c} + &quot; - &quot; + TEXT(ADDMONTHS({!$Record.Estimated_Move_In_Date__c}, {!LoopCount}))</expression>
    </formulas>
    <formulas>
        <name>LeaseLengthInMonths</name>
        <dataType>Number</dataType>
        <expression>IF(ISPICKVAL({!$Record.Lease_Length__c}, &quot;1 Year&quot;), 12,
IF(ISPICKVAL({!$Record.Lease_Length__c}, &quot;2 Year&quot;), 24,
IF(ISPICKVAL({!$Record.Lease_Length__c}, &quot;3 Year&quot;), 36,
0)))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Nickname</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.First_Name__c} + &quot;.&quot; + {!$Record.Last_Name__c}, 40)</expression>
    </formulas>
    <formulas>
        <name>Username</name>
        <dataType>String</dataType>
        <expression>LOWER({!$Record.First_Name__c} + &quot;.&quot; + {!$Record.Last_Name__c} + &quot;@fsrentals.com&quot;)</expression>
    </formulas>
    <interviewLabel>Create Tenant {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Tenant</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Invoices</name>
        <label>Create Invoices</label>
        <locationX>809</locationX>
        <locationY>1651</locationY>
        <inputReference>InvoiceCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Tenant</name>
        <label>Create Tenant</label>
        <locationX>536</locationX>
        <locationY>541</locationY>
        <connector>
            <targetReference>Update_Application_with_Tenant_Information</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>TenantAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Associated_Property__c</field>
            <value>
                <elementReference>$Record.Property_of_Interest__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>$Record.Date_of_Birth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lease_Length__c</field>
            <value>
                <elementReference>$Record.Lease_Length__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lease_Start_Date__c</field>
            <value>
                <elementReference>$Record.Estimated_Move_In_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lease_Type__c</field>
            <value>
                <elementReference>$Record.Lease_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>TenantRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tenant_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Tenant_Portal_User_0</name>
        <label>Create Tenant Portal User</label>
        <locationX>267</locationX>
        <locationY>1346</locationY>
        <connector>
            <targetReference>All_Invoices_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>Alias</field>
            <value>
                <elementReference>Alias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommunityNickname</field>
            <value>
                <elementReference>Nickname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Create_Tenant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DefaultGroupNotificationFrequency</field>
            <value>
                <stringValue>N</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DigestFrequency</field>
            <value>
                <stringValue>N</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailEncodingKey</field>
            <value>
                <stringValue>ISO-8859-1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LanguageLocaleKey</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProfileId</field>
            <value>
                <elementReference>TenantPortalProfile.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeZoneSidKey</field>
            <value>
                <stringValue>America/New_York</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username</field>
            <value>
                <elementReference>Username</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Tenant_Account</name>
        <label>Get Tenant Account</label>
        <locationX>536</locationX>
        <locationY>421</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Tenant</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tenants</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>TenantAccount</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Tenant_Portal_Profile</name>
        <label>Get Tenant Portal Profile</label>
        <locationX>267</locationX>
        <locationY>1109</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Tenant_Portal_User_0</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tenant Portal User</stringValue>
            </value>
        </filters>
        <object>Profile</object>
        <outputReference>TenantPortalProfile</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Tenant_Record_Type</name>
        <label>Get Tenant Record Type</label>
        <locationX>536</locationX>
        <locationY>301</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Tenant_Account</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tenant</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>TenantRecordType</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Update the tenant&apos;s application with the new tenant record.</description>
        <name>Update_Application_with_Tenant_Information</name>
        <label>Update Application with Tenant Information</label>
        <locationX>536</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Update_Property_with_Occupied_Status</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tenant_Record__c</field>
            <value>
                <elementReference>Create_Tenant</elementReference>
            </value>
        </inputAssignments>
        <object>Rental_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Occupants_with_Tenant_Record</name>
        <label>Update Occupants with Tenant Record</label>
        <locationX>536</locationX>
        <locationY>901</locationY>
        <connector>
            <targetReference>Create_Tenant_Portal_User_Decision</targetReference>
        </connector>
        <filters>
            <field>Related_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Related_Tenant__c</field>
            <value>
                <elementReference>Create_Tenant</elementReference>
            </value>
        </inputAssignments>
        <object>Occupant__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Property_with_Occupied_Status</name>
        <label>Update Property with Occupied Status</label>
        <locationX>536</locationX>
        <locationY>781</locationY>
        <connector>
            <targetReference>Update_Occupants_with_Tenant_Record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Property_of_Interest__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Property_Status__c</field>
            <value>
                <stringValue>Occupied</stringValue>
            </value>
        </inputAssignments>
        <object>Property__c</object>
    </recordUpdates>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Tenant_Record_Type</targetReference>
        </connector>
        <filters>
            <field>Application_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Closed_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Finalized Lease</stringValue>
            </value>
        </filters>
        <object>Rental_Application__c</object>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>InvoiceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
    <variables>
        <name>InvoiceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
    <variables>
        <name>LoopCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Occupants</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Occupant__c</objectType>
    </variables>
    <variables>
        <name>TenantAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>TenantPortalProfile</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Profile</objectType>
    </variables>
    <variables>
        <name>TenantRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
</Flow>
