force-app/main/default/flows/Create_Tenant.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Create_Tenant_Portal_User_Decision</name>
        <label>Create Tenant Portal User?</label>
        <locationX>182</locationX>
        <locationY>973</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Create_Tenant_Portal_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Tenant_Portal_Profile</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>Alias</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.First_Name__c},1) + LEFT({!$Record.Last_Name__c},4)</expression>
    </formulas>
    <formulas>
        <name>Nickname</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.First_Name__c} + &quot;.&quot; + {!$Record.Last_Name__c}, 40)</expression>
    </formulas>
    <formulas>
        <name>Username</name>
        <dataType>String</dataType>
        <expression>LOWER({!$Record.First_Name__c} + &quot;.&quot; + {!$Record.Last_Name__c} + &quot;@tenantportal.com&quot;)</expression>
    </formulas>
    <interviewLabel>Create Tenant {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Tenant</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Tenant</name>
        <label>Create Tenant</label>
        <locationX>182</locationX>
        <locationY>493</locationY>
        <connector>
            <targetReference>Update_Application_with_Tenant_Information</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>TenantAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Associated_Property__c</field>
            <value>
                <elementReference>$Record.Property_of_Interest__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>$Record.Date_of_Birth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lease_Length__c</field>
            <value>
                <elementReference>$Record.Lease_Length__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lease_Start_Date__c</field>
            <value>
                <elementReference>$Record.Estimated_Move_In_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lease_Type__c</field>
            <value>
                <elementReference>$Record.Lease_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>TenantRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tenant_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Tenant_Portal_User_0</name>
        <label>Create Tenant Portal User</label>
        <locationX>50</locationX>
        <locationY>1213</locationY>
        <inputAssignments>
            <field>Alias</field>
            <value>
                <elementReference>Alias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommunityNickname</field>
            <value>
                <elementReference>Nickname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Create_Tenant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DefaultGroupNotificationFrequency</field>
            <value>
                <stringValue>N</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DigestFrequency</field>
            <value>
                <stringValue>N</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailEncodingKey</field>
            <value>
                <stringValue>ISO-8859-1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LanguageLocaleKey</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProfileId</field>
            <value>
                <elementReference>TenantPortalProfile.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeZoneSidKey</field>
            <value>
                <stringValue>America/New_York</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Tenant_Account</name>
        <label>Get Tenant Account</label>
        <locationX>182</locationX>
        <locationY>373</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Tenant</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tenants</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>TenantAccount</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Tenant_Portal_Profile</name>
        <label>Get Tenant Portal Profile</label>
        <locationX>50</locationX>
        <locationY>1093</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Tenant_Portal_User_0</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tenant Portal User</stringValue>
            </value>
        </filters>
        <object>Profile</object>
        <outputReference>TenantPortalProfile</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Tenant_Record_Type</name>
        <label>Get Tenant Record Type</label>
        <locationX>182</locationX>
        <locationY>253</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Tenant_Account</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tenant</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>TenantRecordType</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Update the tenant&apos;s application with the new tenant record.</description>
        <name>Update_Application_with_Tenant_Information</name>
        <label>Update Application with Tenant Information</label>
        <locationX>182</locationX>
        <locationY>613</locationY>
        <connector>
            <targetReference>Update_Property_with_Occupied_Status</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tenant_Record__c</field>
            <value>
                <elementReference>Create_Tenant</elementReference>
            </value>
        </inputAssignments>
        <object>Rental_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Occupants_with_Tenant_Record</name>
        <label>Update Occupants with Tenant Record</label>
        <locationX>182</locationX>
        <locationY>853</locationY>
        <connector>
            <targetReference>Create_Tenant_Portal_User_Decision</targetReference>
        </connector>
        <filters>
            <field>Related_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Related_Tenant__c</field>
            <value>
                <elementReference>Create_Tenant</elementReference>
            </value>
        </inputAssignments>
        <object>Occupant__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Property_with_Occupied_Status</name>
        <label>Update Property with Occupied Status</label>
        <locationX>182</locationX>
        <locationY>733</locationY>
        <connector>
            <targetReference>Update_Occupants_with_Tenant_Record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Property_of_Interest__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Property_Status__c</field>
            <value>
                <stringValue>Occupied</stringValue>
            </value>
        </inputAssignments>
        <object>Property__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Tenant_Record_Type</targetReference>
        </connector>
        <filters>
            <field>Application_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Closed_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Finalized Lease</stringValue>
            </value>
        </filters>
        <object>Rental_Application__c</object>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Occupants</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Occupant__c</objectType>
    </variables>
    <variables>
        <name>TenantAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>TenantPortalProfile</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Profile</objectType>
    </variables>
    <variables>
        <name>TenantRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
</Flow>
